<button class="btn btn-default" autocomplete="off" id="start">Start</button>
<p><small>Sometimes takes up to 15s to connect after hitting "Start", still need to figure out why</small>
<div id="mstreamvideo"></div>